<html>
  <head>
    <link rel="stylesheet" href="http://localhost:4567/css/bootstrap.css">
    <link rel="stylesheet" href="http://localhost:4567/css/estilos.css">
  </head>
  <body>

    <%= yield %>


  <script src="http://localhost:4567/js/jquery-3.2.1.slim.min.js"></script>
  <script src="http://localhost:4567/js/popper.min.js"></script>
  <script src="http://localhost:4567/js/bootstrap.min.js"></script>

  </body>
</html>
